<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="icon" href="https://lh3.googleusercontent.com/NH8d5KFJcwtOpJLoe8hZafORN-mQUpmrPVc2wAAFhsTv7vRmEX1-Nxc_5Rfz5K00_gXUtVjxK8sXH_Z2YMfB8qQbKRDP3xCKmmBTZwkzI4CkpmGh_YtJkR9SzWu57qQ4nJfZNNs1jWwBofTblgLAxj62WI6_ZnlCS1v57jhJnIJfSkRIE5HlHStpA1gyEhcKawrkMxT0Sz43JcaJb0z6ycRBURskyRxha6Z9igkQjdFbQQg5zv6oB21IQMR_M_8D29eV3aoLpvU7hRxCEX0Buq-SKgdqxxphaKZr4p30fHWpZL8bKu5XNevVxxgt57gO7DIb_VS8MZo11Xksq02lL5xT_3AhkicPDgZ1KVtyJ-sNkJ9lbRUEaI1Pd9fguKzsNnHCk6f41zlzkCyyD9YQCJQzZTjtm-RakSqfMtRTa_pMdyJ9UOLvmqIiOq6LzUkMYJEa4RsyEi_p-MxccOT-oUxCHidlklljy7cEgZQ87CQ9KS127i8UIN6nbxtJEIdTbwjDDU3nAwSB0c4UsqPKYbUBPDtV2-bzYX7xKfOGKIBqqlaf3R2_tmcCtlV6IQfUXhl22xgC=w1440-h736">
</head>
