<div class="container">
  <div class="user-details">
    <h3> WDI Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src=" https://lh3.googleusercontent.com/yB8lw4SN2NcGbhZUxsujxpXKi_feKMrzDkNuIlCNY44ffvEJuwl55W14oJqqlWSJjKN2eQmV9QEXF1NVXLb1Z0k-lwmmnMe_hnxXlOvuUDgPMTSPWBalrxIAQvNjKbnIlk5phruoeKrCHIolgh8ICpmPBW6F5WLLaw8G_-ZWyp4a_WzPd5PfiOIbG4FWjpmvPwhpQwMEvZrusz7r6ujn35PIVFdY4rfoDkNONvf_MCkLjTJ9f_-zmp5o7OSGE64KNH9rrxyCk8Eejf8q1kDSibaRFHRCeRCN3FFKEHx8zQP0F87bCe8jlV7Wp4f8Jrkh2MzdM8pwvCP82gZ_TP9fIfoU7lfzVJPlUo-avdR4AFrKP43I8rHDHpL6yeNVHlKeiH39l1MGPAuxhTfO_hyhMTPAUhEONaOZ8Zqz-oNYTtLdwKRe4kLpwDbmfyLWjXffvdWVA99CgUBiNMTx79Kj_h-OhEmL3vbbh-3Xqq-f8iZG9oo5C0LRft8jTkRncRg_8ZInXUyY0FunsIK8N6S-21NlKRrtXrrcUJBlXHk4FRHxWHm5yL-m1BAkguqVCMzkfcqMJKWI=w1301-h694" />
    </div>
    <div class="six columns">
      <h5> Project 1: Simon's revenge</h5>
      <ul>
        <li>Languages used: JavaScript(with jQuery), CSS, HTML </li>
      </ul>
      <p>This was my first real attempt at a JavaScript project.  I used jQuery to manipulate the DOM and vanilla JS to make the internal sequence logic. Using CSS, I created a bomb case with a transition to an explosion on when the timer runs out.</p>
      <a class="project-link" href="https://simons-revenge.herokuapp.com/">Check it out</a>
      <a class="github" href="https://github.com/OwlMan77/WDI_PROJECT_1"><img style="width: 50px;"
       src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"></a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="https://lh3.googleusercontent.com/16SbUesp2hD0gTLw3Eh5DvugTwrsAYJi2Q-agRsU-0hhatG9uZRQk2EC5D2iLZezO393DYWf_IaVvkTYVxghdLoXejuVTN60mjsd95MbBBoJoJjVpzD0lwkHf0mTFcs5pBA341yed9JFSwAc90bZzKI0yjjmcG4TC2W7RR2wp1wyNrkzJ8u2wd7zVrVhKHBq45v3TV0d1ZT_jVIZKduf4qA8gVdIzYMruXHN2kpTkjCyDfQ4xALxBWd_HnxoejCkpF83q1S8XhcVdvXrURIDCdN_FJ5YyjujFvqXspk9ByCNUEuKRVq7xxJ4RIyHLDuxs-t2eBN8lqlwAhdb7sfOKR3BgUD2WBTOsk4AYm4onbiLKHbCVGh535bhiKk36Egj_JJkIrJb147pCdZiII1YDKwwYlECK2yWtKHAGNvXZJ7lIr-2BnuidJSemZJ1qBU-SWnxBK7f10vBs16SZ8M1NpnRPSbYSvY0ccrDhGkzFDDMBO6XGwreL5fcT5JeYrdzVXHPFo76wv34fzjvYyYwjwS8EksKmPnutnt7x8PpJrut08LZlQ4xVPzSKVmOTxBFjIBU7_44=w1440-h738" />
    </div>
    <div class="six columns">
      <h5> Project 2: Find JM </h5>
      <ul>
        <li>Languages: SASS, HTML, JavaScript(with jQuery) </li>
        <li>Database: MongoDB</li>
      </ul>
      <p>My second project was to show that I could make an app with Mongoose, Express and Node using JWT authentication. What I did with my app was create a Google Map that would show where I have been over the last 3 years. I used a file upload module called Multer which I used along with the JSON data that was obtained using Google’s Takeout service for the location data on my phone. Finally I used that JSON data to place markers where I had been and used HTML5 geolocation show my current location.</p>
      <a class="project-link" href="https://find-jm.herokuapp.com/">Check it out</a>
      <a class="github" href="https://github.com/OwlMan77/WDI-PROJECT-2"><img style="width: 50px;"
       src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"></a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img style="height:325px;" alt="mountains" src="https://lh3.googleusercontent.com/waznea5fo1Mp-aj3B5jVdsCYk3DtZsK6tHxdTBZhC8VpXzrahiW9qrPf8ndO8gsUKxB9tOd53Jx5rHqmNGfLjVenRLTAv97WuannY4BcQm2aHRmpKy-95UiMBwj57hA2fjGCGU_XJI7cYCkosXmk95izHTTGBBYCrAUh9lgXHUvCODLRBFk5NTmx3gE22dj8O3uxhvVtSiZiE9gB3LBMrLLxY5J4cMfjKsiCj9nOH8M4qyHS7kl77HsR5EKmrs53MhWgapaoTbFqtKgEOZTh0MjNdqg7IIU1aM9Q5G8STvZSSu0hMlxe9kGEwipZVlpOKjiUQxaRuue6YRn4jJmVdM3fQQTLTPYKcua-r1im0iYlpWV-z_D0Kbhgf8qegsJAuHwMlxRXMw2m7vu9aL9Bxnd8sUnm-6L7lqN20RhxY9_RFs70SFjg40s7rmLmk9Bylj__IXZHo38ehCr_GeBRETuDZ3BGCokaFHnby-4N7ZlqPuPpiErkJBlyeFKhB1Y0grlySr9ICesVqfXbN4fnj5VyoC9xUOGZEFq8KjBVl8CoHHikkM5mRikXM4eC2bk5mYxuNqcE=w1440-h736" />
    </div>
    <div class="six columns">
      <h5> Project 3: Input</h5>
      <ul>
        <li> Languages: SASS, HTML, JS </li>
        <li> Database: MongoDB</li>
      </ul>
      <p>The main concept of this project was to create an app that would allow people to create anonymous feed to a organisation or group.This was a full MEAN stack app with Chart.js and JWT token authentication with a ui-state based view system.

      My main responsibilities to this project were to implement JWT authentication, an anonymised name factory for idea authors and several CSS features.</p>
      <a class="project-link" href="https://inputbltdcx.herokuapp.com/">Check it out</a> <a class="github" href="https://github.com/OwlMan77/WDI_PROJECT_3"><img style="width: 50px;"
       src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"></a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img style="width: 225px;" alt="mountains" src="https://lh3.googleusercontent.com/6bIN7JddmkmsizkQeNy-7DuhXJMWvdI5-H-c6MuNCkrUeN3nMOvYWqtgzJyLBfCXvg6_K-XThx_Po_BtI3fh5KkZytE9UfnkpQB0tBz9LMLPmO24ZdC_i7mpD7rWYe16yfWKV5ttexDNh-lvXXsAhwyoqE4YR4Kb1TlN867t0AG6D0iEmq06iiLn98IOYCz03yF89Rm8qcFwqahopiTAyPpTFKwsTEZQMB46VS3Yr_uYU-1YRxjojjBrSaWMRbS_88nFeRUdSP2BwCDcqY1PyE-vaDIm55dIDCr5GzwpA8899bLJ0t8Y-M3rCaxGR2KdSTK7P91RB10IsO8Y0Y3OdbC83vgsUDpFoeGJMMFhGsUmK66F0U6zf-i0wbl7-kwV4Qse0TDFUzOWme775ShhIXgajSE6FI8NdCpbo0fMY7_WjDYGPm8tRSZLVggJa2pv6-me0I-qhdwGN9_kcCMiGej-sHVCTl0NaJuyYg4cjKBxYYZlJJWprMpBWgSYupveJvBGqsYO0ug7kpla7Y6T-IGwtjS83MIBLgtGNNcV4nqAsZ0ekKoJ9NhCQnLcLEfuhB1JwAeU=w1440-h736" />
    </div>
    <div class="six columns">
      <h5> Project 4: Hemeacord </h5>
      <ul>
        <li> Languages: SASS, HTML, JS, Ruby</li>
        <li> Database: SQL</li>
      </ul>
      <p>For my final project, I used a Ruby on Rails backend with SQL and an Angular with Chart.js front-end to create an easy to view representation of the user’s diabetic health.

      A main focus on this project's styling was to allow for mobile responsiveness.</p>
      <a class="project-link" href="https://wdiproj4client.herokuapp.com/">Check it out</a>
      <a class="github" href="https://github.com/OwlMan77/WDI-PROJECT-4-CLIENT"><img style="width: 50px;"
       src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"></a>
       <a class="github" href="https://github.com/OwlMan77/WDI_PROJECT_4_API"><img style="width: 50px;"
        src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"></a>
    </div>
  </div>
</div>
